
<!-- For header  -->
<mat-toolbar id="header" >
  <button mat-icon-button (click)="nav.toggle()"> <mat-icon>menu</mat-icon></button> 
  <div class="logo">Logo</div>
  <div class="extra"></div>
  <span class="welcome">Welcome<br>Hamayun Admin</span>
  <mat-icon>keyboard_arrow_down</mat-icon>
</mat-toolbar>

<!-- sidenav container  -->
<mat-sidenav-container class="sidenav-wrapper">
  <!-- sidenavbar  -->
  <mat-sidenav #nav mode="side" opened>
    <mat-toolbar class="custom-toolbar">Files</mat-toolbar>
    <a  routerLink="/orders">
      <button mat-button>
      <mat-icon>folder</mat-icon>
      <span>Rent increase</span>
    </button>
    </a>
    <a  routerLink="/pendingorders">
      <button mat-button>
      <mat-icon>folder</mat-icon>
      <span>Other litigations</span>
    </button>
    </a>
    <mat-toolbar class="custom-toolbar">Management</mat-toolbar>
    <a>
      <button mat-button>
      <mat-icon>home</mat-icon>
      <span>Organizations</span>
    </button>
    </a>
    <a  >
      <button mat-button>
      <mat-icon>business</mat-icon>
      <span>building</span>
    </button>
    </a>
    <a  >
      <button mat-button>
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </button>
    </a>
  </mat-sidenav>
<!-- sidenav content  -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

